<div class=" m-2 d-flex justify-content-center">
    <form >
    <div class="form-group">
        <label> Enter Username</label>
        <input id="settle_username" type="text" class="form-control">
        
    </div>
    <div class="form-group">
        <small>You Owe </small><small id=settle_owe_money>45$</small>
    </div>

    <div class="form-group">
        
            <div class="d-flex">
                <div>
                    <button class="btn btn-sm " style="border:1px solid #00FF00;" id="show_expenses_date">Date</button>
                </div>
            </div>
            <hr>
            <center><small id="show_ammount_per_person"></small></center>

    </div>
    <div class="form-group">
        <div class="d-flex">
            <h2>$ </h2>
            <input type="number" id="settle_paying_money" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex flex-row-reverse">
            <div>
                <button type="submit" class="btn btn-medium" style="background-color: #00FF00;">Save</button>
            </div>
            <div class="">
                <a href="Dashboard.html"  class="btn btn-sm" style="color: #00FF00;">Cancel</a>
            </div>
            
        </div>
    </div>
    </form>    

</div>