
 {{#if alertForGroup}}
       <div id="invitepopup2" class="alert alert-success"  >
            <center>{{alertForGroup}}</center>
        </div>
        {{/if}}
            <form id="form1" method="POST" action="/auth/addNewGroup" onsubmit="validDate()"></form>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5">
                        <h2>start a new group</h2>
                    <br>
                            <div class="form-group col-sm-6">
                                <label  style="font-size:large;">Enter group name</label>
                                <input type="text" for="groupName" name="groupName" id="" class="form-control    " placeholder="" form="form1">
                                
                            </div>
                            <div class="form-group col-lg-6">
                                <br>
                                <u><a    onclick="addInviteField()" style="color: #00FF00;">invite friend</a></u>
                                <form method="POST" action="/auth/sendInvitationfromaddGroup" >
                                
                                <div class="form-group" id="addInviteFieldId" style="display:none">
                                    <input type="email" style="width:90%; margin:4px;" placeholder="enter an email" name="invite">
                                    
                                    <button  style="background-color: #00FF00;width:fit-content;margin: 5px;" type="submit">Send Invite</button>
                                    
                                </div>
                                {{#if message}}
                                    <div id="invitepopup" class="form-group">
                                        <p class="alert alert-danger">{{message}}</p>
                                    </div>
                                    {{/if}}
                            </form>   
                                
                            </div>
                            <div class="form-group col-lg-7">
                                <br>
                               <button style="background-color: #00FF00;" class="btn btn-large" form="form1">Save</button>
                               
                            </div>  
                            

                    
                    </div>
                    <div class="form-group col-lg-4 ">
                       
                      
                        <p>GROUP MEMBERS</p>
                        <div class="card " >
                            <img class=" card-img-top" style="height:250px" src="img\cute_monsters.jpg" alt="friend">
                            <div class="card example-1 square scrollbar-dusty-grass square thin">  
                                <ul class="list-group-flush">
                                    {{#if finalList}}
                                        {{#each finalList}}
                                            <li  class="list-group-item">{{this.name}} <input for="groupFriendId" name="groupFriendId" form="form1" type="checkbox" value="{{this.id}}"></li>
                                            <br>
                                        {{/each}}
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                         






                        {{!-- <h3 >Group Type</h3>
                        <select class="bootstrap-select">
                            <option value="1" selected="selected">Feature 1</option>
                            <option value="2">Feature 2</option>
                            <option value="3">Feature 3</option>
                            <option value="4">Feature 4</option>
                        </select>
                        <h3>Simpilify group DEBTS</h3>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-danger  active">
                                <input type="checkbox" name="" id="" checked autocomplete="off">
                            </label>
                            
                        </div> --}}
                         
                        
                    </div>
                </div>
                
         
       

 
























 
<script >
    function hideinvitepopup(id){
        document.getElementById(id).style.display="none";
        
    }
    {{#if alertForGroup}}
        window.onload=function() {
            console.log("entered1")
            setTimeout("hideinvitepopup('invitepopup2')",3000);
        }
    {{/if}}
    
    {{!-- function validDate(){
        var values=document.forms["form1"]["groupName"].value
        if(values===""){
            alert("Enter the Group Name")
            console.log("en")
            return false;
        }
        return true;
    } --}}
     function hideinvitepopup(id){
        document.getElementById(id).style.display="none";
        
    }

    {{#if message}}
        

        window.onload=function() {
            console.log("entered")
            setTimeout("hideinvitepopup('invitepopup')",3000);
        }
    {{/if}}
    
    function addInviteField(){
 
        if(document.getElementById("addInviteFieldId").style.display !== 'block')
        document.getElementById("addInviteFieldId").style.display = 'block'
        else{
            document.getElementById("addInviteFieldId").style.display = 'none'
        }
        console.log(temparray)
    }
    
</script>
    
