
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">
    <title>Dashboard</title>
    
</head>
<body>
    
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:black;">
            <a  class="navbar-brand" href="Dashboard">
                <img src="/img/logo.jpg" width="45" alt="" class="d-inline-block align-middle mr-2">

                <span class="font-weight-bold"style="color: #00FF00;">SpLitIt</span>
            </a>
            
            <div class="ml-auto">
                <span class="dropdown open">
                    <button style="color:#00FF00" class="btn  btn-sm m-3 dropdown-toggle" type="button" id="profile_id" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Profile
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Your Account</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                        
                    </div>
                </span>
                <span class="dropdown open">
                    <button style="color: #00FF00;" class="btn btn-sm dropdown-toggle" type="button" aria-expanded="false" data-toggle="dropdown" aria-haspopup="true">Notifications(<span id="notification"></span>)</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">content</a>
                    </div>
                </span>   
            </div>
            
        </nav>
       
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                    <h2>start a new group</h2>
                    <form >
                        <div class="form-group col-sm-6">
                            <label for="" style="font-size:large;">Enter group name</label>
                            <input type="text" name="" id="" class="form-control    " placeholder="">
                            
                        </div>
                        <div class="form-group col-lg-6">
                            <p>GROUP MEMBERS</p>
                            <small><a href="inviteFriend" style="color: #00FF00;">invite friend</a></small>
                            
                        </div>
                        <div class="form-group col-lg-7">
                            <input type="text" class=" mb-2 form-control" name="username" placeholder="enter  username">
                            <input type="text" class=" mb-2 form-control" name="username" placeholder="enter  username">
                            <input type="text" class=" mb-2 form-control" name="username" placeholder="enter  username">
                            <input type="text" class=" mb-2 form-control" name="username" placeholder="enter  username">          
                            <button class="btn btn-sm " style="color: #00FF00;">+Add Friend</button>
                        </div>  
                        

                    </form>
                </div>
                <div class="form-group col-lg-5 ">
                    <h3 >Group Type</h3>
                    <select class="bootstrap-select">
                        <option value="1" selected="selected">Feature 1</option>
                        <option value="2">Feature 2</option>
                        <option value="3">Feature 3</option>
                        <option value="4">Feature 4</option>
                      </select>
                      <h3>Simpilify group DEBTS</h3>
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-danger  active">
                              <input type="checkbox" name="" id="" checked autocomplete="off">
                          </label>
                          
                      </div>
                      <div>
                        <button style="background-color: #00FF00;" class="btn btn-large" >Save</button>
                      </div>
                </div>
            </div>

       


       </div> 
































        <div>
            <footer class="footer">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 680 91" class="w-full">
                    <path fill="#00FF00" d="M349 76.499L286 113V40z"></path>
                    <path fill="black" d="M480 74.5L446 94V55z"></path>
                    <path fill="#00FF00" d="M223 76.5l63 36.5V40zm182 1.999L446 102V55z"></path>
                    <path fill="black" d="M169 48v82l71-41z"></path>
                    <path fill="#00FF00" d="M121 75.499L169 103V48z"></path>
                    <path fill="black" d="M456 101h-96V46z"></path>
                    <path fill="#00FF00" d="M360 46v55h-96z"></path>
                    <path fill="#black" d="M436 93h63V57z"></path>
                    <path fill="#00FF00" d="M499 57v36h63z"></path>
                    <path fill="#black" d="M491 93h84.18V44z"></path>
                    <path fill="#00FF00" d="M575.18 93h84.179l-84.18-49z"></path>
                    <path fill="black" d="M601 94h48V66z"></path>
                    <path fill="#00FF00" d="M649 66v28h48z"></path>
                    <path fill="#00FF00" d="M170.385 93h76V49z"></path>
                    <path fill="black" d="M246.385 49v44h76z"></path>
                    <path fill="black" d="M166 93H70V38z"></path>
                    <path fill="#00FF00" d="M70 38v55h-96z"></path>
                  </svg>
              </footer>
              
        </div>
    


    
<script src="dashboard.js">
    
</script>
    
</body>
</html>
