.example_a {
    color: black !important;
    
    text-decoration: none;
   
    border:1px solid lime;
    border-radius: 5px    ;
    background-color: #fff;
    display: inline-block;
    text-shadow: 11px;
    transition: all 0.4s ease 0s;
    }
    .example_a:hover {
       
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }